<h2><%= @game.title %></h2>
<p><%= @game.description %></p>
<p><%= @game.image_url %></p>
<p><%= @game.condition %></p>
<p>This game belongs to <%= @game.user.first_name %> <%= @game.user.last_name %></p>
