<br>
<div class="container-game" style="width:1200px; margin:0 auto; padding: bottom 80px;">
	<div style="padding-top: 30px">
	</div>
	<div class="d-flex justify-content-between">
		<div class="game-image" style="min-height: 400px">
      <img src="<%= @game.image_url %>">
		</div>
    <div class="game-text" style="text-align:right">
      <h3><%= @game.title %></h3>
		<p>Condition: <%= @game.condition %> | Owner: <%= @game.user.first_name %> <%= @game.user.last_name %></p>
    <p><%= @game.description %></p>
      <div class="add-game-form">
        <%= simple_form_for [@game, @booking] do |f| %>
        <%= f.label :start_date %>
        <%= f.date_field :start_date %>
        <br>
        <%= f.label :end_date %>
        <%= f.date_field :end_date %>
        <br>
        <%= f.submit %>
        <% end %>
        <br>
        <%= link_to "View all games", games_path %>
      </div>
    </div>
	</div>

</div>

	<div style="padding-bottom: 30px">
