<div class="container">
	<%= link_to "Back to list", games_path %>

	<div class="card" style="width: 54rem;">
		<h3 class="card-title"><%= @game.title %></h3>
		<p class="card-text">Condition: <%= @game.condition %> | Owner: <%= @game.user.first_name %> <%= @game.user.last_name %></p>
	</div>
	
	<div class="d-flex">
		<div>
			<!-- <img src=<% "#{@game.image_url}" %> alt="Game image"> -->
			<div class="image" style="background-image: url(https://loremflickr.com/300/300)">
			</div>
			<!-- <p><%= @game.image_url %></p> -->
		</div>

		<div>
			<p><%= @game.description %></p>
		</div>
	</div>
</div>
